<!DOCTYPE html>
<html lang="en">
<head>
<title>A&R SLOUTIONS SERVICES</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<style>
.jumbotron {
	 background-color: rgba(0,0,0,1.00);
	color: #ffffff;
}
</style>


	<div class="jumbotron text-center">
		<h1>ADDCARSLIST</h1>
		<form class="form-inline">
			<div class="input-group">
				<input type="addCarsList" class="form-control" size="50"
					placeholder="search carslist" required>
				<div class="input-group-btn">
					<button type="button" class="btn btn-danger">Search</button>
				</div>
			</div>
		</form>
	</div>



<form class="form-horizontal">


  
		<div class="form-group">
				<label class="control-label col-sm-5">Location:</label>
			<div class=col-sm-4>
				 
				<input type="text" id="location" class="form-control" placeholder="Enter your location" ng-model="newlocation">
			</div>
		</div>
			
		<div class="form-group">
      
      		<label class="control-label col-sm-5">TYPE:</label>
               <div class="col-sm-4">
                  <input type="type" class="form-control" id="type" placeholder="Enter your type" ng-model="newtype">
                </div>
        </div>
        
        	
		<div class="form-group">
      
      		<label class="control-label col-sm-5">NAME:</label>
               <div class="col-sm-4">
                  <input type="name" class="form-control" id="name" placeholder="Enter your name" ng-model="newname">
                </div>
        </div>
      
      <div class="form-group" ng-click="addCarsList()">
      

               <div class="col-sm-offset-6 col-sm-16">
              <input type="button" class="btn btn-primary" value="submit"/>
               
                </div>
        </div>  
			
			

		
	</div>

</body>
</html>